
// Fonts

// Variables
@import 'variables';
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '~element-ui/packages/theme-chalk/src/index.scss';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@font-awesome-animation/dist/font-awesome-animation.min.css";
@import '~admin-lte/build/scss/AdminLTE.scss';
@import 'fonts/font-face.css';
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.login-icon{
  margin-top:-28px;float:right;color:gray;margin-right:5px;
}
::-webkit-input-placeholder {
  font-size: 14px;
  color: #d0cdfa;
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;
 }
 :-moz-placeholder { /* older Firefox*/
  font-size:14px;
  color: #d0cdfa;
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;
 }
 ::-moz-placeholder { /* Firefox 19+ */ 
  font-size: 14px;
  color: #d0cdfa; 
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;
 } 
 :-ms-input-placeholder { 
  font-size: 14px; 
  color: #d0cdfa;
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;
 }
 .navbar-expand .navbar-nav:lang(en){
	 direction:ltr !important;
 }
/*Added By e.bagherzadegan*/
.form-check:lang(en) {
    padding-left: 1.25rem;
}
.form-check:lang(fa) {
    padding-right: 1.25rem;
}
.form-check-input:lang(en) {
	margin-left: -1.25rem;
}
.form-check-input:lang(fa) {
	margin-right: -1.25rem;
}
.card-header:lang(en){
	text-align:left;
}
.card-header:lang(fa){
	text-align:right;
}
.nav-sidebar:lang(en){
	text-align:left;
}
.nav:lang(en){
	padding-left:0;
}
.nav-sidebar:lang(fa){
	text-align:right;
}
.nav:lang(fa){
	padding-right:0;
}
.brand-link:lang(en){
	text-align:left;
}
.brand-link:lang(fa){
	text-align:right;
}
.modal-header .close:lang(en), .modal-header .mailbox-attachment-close:lang(en){
	margin: -1rem -1rem -1rem auto;
}
.modal-header .close:lang(fa), .modal-header .mailbox-attachment-close:lang(fa){
	margin: -1rem auto -1rem -1rem
}
/* Custom CSS */
	
    //medium+ screen sizes
    @media screen and (min-width:992px) {
      #mobile-only {
          display:none !important;
      }

      #desktop-only {
          display:block !important;
      }
  }

  //small screen sizes
  @media screen and (max-width: 991px) {
      #mobile-only {
          display:block !important;
      }

      #desktop-only {
          display:none !important;
      }
  }